body {
    font-family: 'Montserrat', sans-serif;
  margin: 0px;
}
h1 {
    font-size: 40px;
}
header {
    width: 100%;
    background-color: orange;
    display: flex;
    color: white;
    padding-left: 2%;
}

.header-wid{
    width: 50%;
}
.header-wid ul li {
    display: inline;
    padding-right: 5%;
}
section {
    display: flex;
    padding: 4%;
    margin-bottom: 100px;


}
.first {
    width: 50%;

}
.first img {
    width: 70%;
    padding-left: 10%;
    
}
.link {
    text-decoration: none;
    background-image: linear-gradient(darkorange,tomato);
    border-radius: 20px;
    padding: 10px 30px;
    color: white;
  
    
   
}
.second {
    width: 50%;
}
.second img {
    width: 40%;
    padding-left: 20%;
   
}
.s2 {
    background-image: url(images/shapes/7.png);
  
    
}
.s2 background img {
    width: 100%;
}
.box-sec {
    display:flex;
}
.box-part {
    width: 33.33%;
    margin: 2%;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 5px 5px 10px grey;
    border-radius: 15px;
}
footer {
    background-color: black;
    color:white;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 5%;
    margin: 0px;
}
