body {
    font-family: 'Montserrat', sans-serif;
    margin-right: 0px;
}
h1 {
    font-size: 40px;
}

section {
    display: flex;
    padding: 4%;
    margin-bottom: 100px;


}
.first {
    width: 50%;

}
.first img {
    width: 70%;
    padding-left: 10%;
    
}
.link {
    text-decoration: none;
    background-image: linear-gradient(darkorange,tomato);
    border-radius: 20px;
    padding: 10px 30px;
    color: white;
  
    
   
}
.second {
    width: 50%;
}
.second img {
    width: 40%;
    padding-left: 20%;
   
}
.s2 {
    background-image: url(images/shapes/7.png);
    
}